/* docs/stylesheets/extra.css */

/* Стили для AMOLED-темы (чёрный фон, белый текст) */
[data-md-color-scheme="slate"] {
  --md-default-bg-color: #000000;
  --md-default-fg-color: #ffffff;
  --md-typeset-color: #ffffff;
  --md-typeset-a-color: #bb86fc !important;
  --md-accent-fg-color: #bb86fc;
  --md-code-bg-color: #1e1e1e;
}

[data-md-color-scheme="amoled"] {
  --md-default-bg-color: #1e1e1e;
  --md-default-fg-color: #ffffff;
  --md-typeset-color: #ffffff;
  --md-typeset-a-color: #bb86fc !important;
  --md-accent-fg-color: #bb86fc;
  --md-code-bg-color: #1e1e1e;
}